/* Global Styles */

body {
    width: 100%;
    min-width: 800px;
    font-family: Myriad Pro;
}

.wrapper {
    width: 100%;
}

input,button,textarea {
    outline: none;
}

textarea {
    font-family: monospace;
}

/* Assistance Styles */

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.clearfix {
    clear:both;
}

.smooth-transition {
    transition: all 0.6s ease;
}

.smooth-transition:hover {
    transition: all 0.6s ease;
}

/* Header Styles */
.header {
    height: 67px;
    background-color: #34495e;
}

.title {
    color: #ecf0f1;
    padding: 16px 0 0 18px;
    font-size: 2.2em;
}

.title img {
    margin: 0 0 3px 3px;
}

.selectors {
    width: 370px;
    display: block;
    margin: 0 auto;
}

.selectors ul {
    padding: 0;
    margin: 0;
}

.selectors li {
    list-style: none;
    color: #ecf0f1;
    float: left;
    margin: 14px 0 0 0;
    padding: 8px 0px 4px 0px;
    border-left: 1px #ecf0f1 solid;
    border-top: 2px #ecf0f1 solid;
    border-bottom: 2px #ecf0f1 solid;
    border-right: 1px #ecf0f1 solid;
    cursor: pointer;
    width: 90px;
    text-align: center;
    font-size: 1.2em;
}

.selectors li:first-child {
    border-left: 2px #ecf0f1 solid;
    border-radius: 5px 0 0 5px;
}

.selectors li:last-child {
    border-right: 2px #ecf0f1 solid;
    border-radius: 0 5px 5px 0;
}

.selected {
    background-color: #7f8c8d;
}

.run button {
    margin: 12px 40px 0 0;
    background-color: #ecf0f1;
    border: 1px black solid;
    padding: 7px 42px 4px 50px;
    border-radius: 7px;
    font-size: 1.4em;
}

/* Code Container styles */
 
.codeContainer {
    width:50%;
    /*background-color: #ecf0f1;*/
    background-color: #FDF6E3;
}

.codeContainerTitle {
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.codeContainerCode {
    margin-left: 5%;
    width: 90%;
}

#CSSContainer, #JSContainer {
    display: none;
}

/* Overriding ace styles */
.ace_editor {
    font-size: 1.0em !important; 
}
